.container {
    margin-top: 5%;
}

body {
    color: black;
    background-color: yellow;
}

.author {
    color: blue;
    text-align: center;
}

.course-code-open {
    text-align: center;
    color: green
}

.course-code-closed {
    text-align: center;
    color: red
}
